.Header {
    grid-area: h;
    background-color: #e0dfdf;
}

.logo {
    width: 80px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}