.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 20px;
}

.item a {
    color: darkgreen;
    text-decoration: none;
}

.item a.activeLink {
    color: #ffffff;
    background-color: #e35f53;
}